header{
    position: relative;
}
li
{
    list-style-type: none;
    margin-left: 1vw;
}

li:first-child
{
    margin:0;
}

footer
{
    margin-top: 100px;
    padding-top: 5vh;
    padding-bottom: 2vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darksalmon;
    opacity: 0.8;
}

.copyright
{
    text-align: center;
    justify-content: end;
}

.sozial {
    display: flex;
    justify-content: flex-end;
}

.logo
{
    height: 5vh;
}

@media (max-width: 768px)
{
    li
    {
        margin-left: 0;
        margin-bottom: 1vh;
    }

    .sozial
    {
        margin-bottom: 1vh;
    }
}

.hr-shelf {
    margin: -30px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}
.breadcrumb a {
    text-decoration: none;
    color: black;
}

