
/* Styles for header */
header{
    position: relative;
}
li
{
    list-style-type: none;
    margin-left: 1vw;
}
li:first-child
{
    margin:0;
}
/* End style for header */

/* Footer styles */
footer
{
    margin-top: 100px;
    padding-top: 5vh;
    padding-bottom: 2vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darksalmon;
    opacity: 0.8;
}
.copyright
{
    text-align: center;
    justify-content: end;
}
.sozial {
    display: flex;
    justify-content: flex-end;
}
.logo
{
    height: 5vh;
}
@media (max-width: 768px)
{
    li
    {
        margin-left: 0;
        margin-bottom: 1vh;
    }
    .sozial
    {
        margin-bottom: 1vh;
    }
}
/* End footer styles*/

/* Styles for section Question on main page */
.content-question {
    text-align: center;
    color: black;
}

/* Nice Line  */
.hr-shelf {
    margin: -30px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}
/* End nice line styles */

/* Section about us */
.about {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}
.about-text {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
    color: white;
    font-size: 20px;
    font-family: FontAwesome;
}
.about:hover .about-text {
    opacity: 1;
}
/* End Section about us  */

/* Styles for section categories on main page */
.category-item {
    position: relative;
}
.category-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    text-align: center;
    transition: .3s ease-in-out;
}
.button {
    text-decoration: none;
    color: #c0a97a;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #c0a97a;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
}
.button:before {
    font-family: FontAwesome;
    color: #c0a97a;
    margin-right: 10px;
    text-decoration: none;
}
.category-item:hover .category-button {
    opacity: 1;
}
.category-item:hover .button {
    transform: translate(-50%, -50%) scale(1);
}
.button:hover {
    background: black;
    color: #c0a97a;
    font-size: 12px;
    text-decoration: none;
}
/* End styles for categories on main page */

/* Modal window */
.modal-backdrop {
    position: relative;
    z-index: 1400;
}
.modal-castom {
    position: fixed;
    right: 0;
    z-index: 1550;
    display: none;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

/* Breadcrumbs on all site accept main page */
.breadcrumb a {
    text-decoration: none;
    color: black;
}

/* Styles for login and register pages*/
.button-access {
    background-color: darksalmon;
    color: white;
}
.button-register {
    background-color: lightseagreen;
}
.button-access a {
    text-decoration: none;
    color: white;
}
.button-access:hover {
    background-color: seagreen;
}
/* End styles for login and register pages */

/* Styles for cabinet page*/
.button-logout a {
    text-decoration: none;
    color: white;
}
/*End styles for cabinet page*/