<!-- Footer html code-->
<footer class="row">
    <div class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
        <p>MyOwnProjectOnPhp with all rights 2021  &copy; </p>
    </div>

    <div class="sozial col-xs-12 col-sm-6 col-sm-push-6">
        <ul class="row">
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
                </a>
            </li>
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
                </a>
            </li>
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
                </a>
            </li>
            <li class="col-xs-6 col-sm-2">
                <a href="#">
                    <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
                </a>
            </li>
        </ul>
    </div>
</footer>
<!-- End footer -->