<!--Start html code for Product page-->
    <div class="container mt-5 d-flex justify-content-end">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="mainTemplate.html">Главная</a></li>
                    <li class="breadcrumb-item"><a href="categoryTemplate.html">Торты</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Торт Настоящий шоколад</li>
                </ol>
            </nav>
        </div>
    </div>

    <hr class="hr-shelf mb-5">
<!--End html code for Product page-->